* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-family: "Macondo", cursive;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: #f1f1f17c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 5px #5dc6ec;
  position: absolute;
  z-index: 10;
}

.Copyright {
  width: auto;
  height: 20px;
  background-color: #23a99cc5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg {
  text-decoration: none;
  transition: 55ms;
  height: 40px;
  width: 200px;
}

.pages {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
}

h3 {
  color: #ff6600;
}

.pg:hover {
  font-size: 27px;
  transition: 55ms;
}

.favs {
  width: 50px;
  height: 50px;
  transition: 55ms;
}

.favs:hover {
  width: 55px;
  height: 55px;
  transition: 55ms;
}

/* footer */
.footer {
  width: auto;
  height: 20px;
  background-color: #23a99cc5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-space {
  width: 100%;
  height: 100px;
}

/* star rating begint hier */
.star-rating-around {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5dc6ecb9;
  width: 100%;
  height: auto;
}

.stars {
  font-size: 50px;
}

.inful-form {
  width: 100%;
  height: 300px;
}

/*yellow = #ffd900; 

.form-input::before {
  content: "\f007";
  font-family: "FontAwesome";
  padding-left: 07px;
  padding-top: 40px;
  position: absolute;
  font-size: 35px;
  color: #2980b9;
  z-index: 2;
}
*/

/* media query's*/
@media only screen and (min-width: 400px) and (max-width: 1300px) {
  .header {
    height: 210px;
  }

  .logo {
    position: absolute;
  }

  .favs {
    position: absolute;
  }

  .pages {
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
  }
}
