* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-family: "Macondo", cursive;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: #f1f1f17c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 5px #5dc6ec;
  position: absolute;
  z-index: 10;
}

.Copyright {
  width: auto;
  height: 20px;
  background-color: #23a99cc5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg {
  text-decoration: none;
  transition: 55ms;
  height: 40px;
  width: 200px;
}

.pages {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
}

h3 {
  color: #ff6600;
}

.pg:hover {
  font-size: 27px;
  transition: 55ms;
}

.favs {
  width: 50px;
  height: 50px;
  transition: 55ms;
}

.favs:hover {
  width: 55px;
  height: 55px;
  transition: 55ms;
}

.header-space {
  width: 100%;
  height: 100px;
}

/* footer */
.footer {
  width: auto;
  height: 20px;
  background-color: #23a99cc5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-space {
  width: 100%;
  height: 100px;
}

.background {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.review-page {
  text-align: center;
  background: #eeeded;
  padding-top: 3%;
}
.review-page .review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.review-page .review .user-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background: white;
  border: 1px solid #111111;
  padding: 1.5% 3%;
  gap: 1rem;
}
.review-page .review .user-rating .user-review {
  display: flex;
  gap: 3rem;
}
.review-page .review .user-rating .user-review .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  overflow: hidden;
}
.review-page .review .user-rating .user-review .user-img img {
  height: 6vh;
  width: 6vh;
}
.review-page .review .user-rating .user-review p {
  text-align: left;
  font-size: 0.9em;
  margin: auto 0;
}
.review-page .review .user-rating textarea {
  width: 100%;
  padding: 2%;
  border-color: #91a3b7;
  resize: none;
}
.review-page .review .user-rating .submit {
  padding: 5% 10%;
  border-radius: 1.5rem;
  border: 0px solid;
  background: #ffff28;
  color: #111111;
  font-size: 0.9em;
  font-weight: bold;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 1rem;
}
.star-rating-stars {
  display: flex;
}
.star-rating-stars .star {
  height: auto;
  font-size: 2em;
  background: none;
  border: none;
  color: #ffc53a;
}
.star-rating-stars .submit .star:hover {
  cursor: pointer;
}
.star-rating-stars .full-star,
.star-rating-stars .empty-star {
  height: auto;
  font-size: 2em;
  background: none;
  border: none;
  color: #ffc53a;
}
.star-rating .current-rating {
  margin-top: 5%;
}

.reviews {
  padding: 2% 0;
}
.reviews h1 {
  text-align: center;
}

/* media query's*/
@media only screen and (min-width: 400px) and (max-width: 1300px) {
  .header {
    height: 210px;
  }

  .logo {
    position: absolute;
  }

  .favs {
    position: absolute;
  }

  .pages {
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
  }

  .header-space {
    height: 210px;
  }
}
