* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-family: "Macondo", cursive;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #f1f1f17c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 5px #5dc6ec;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 100px;
  height: 100px;
}

.pg {
  text-decoration: none;
  transition: 55ms;
}

.pages {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  justify-content: space-around;
}

h3 {
  color: #ff6600;
}

.pg:hover {
  font-size: 27px;
  transition: 55ms;
}

.containerschema {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.597);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.schema {
  width: 80%;
  height: 85px;
  background-color: lightblue;
  /* border: solid 3px orange; */
  margin-bottom: 20px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.schemainfo {
  width: 225px;
  height: 75px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

@media only screen and (max-width: 400px) {
  .schema {
    width: 100%;
    height: 400px;
  }
}

/* CSS voor boeken */

.containerboeken {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.597);
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.bestemming {
  width: 450px;
  height: 600px;
  background-color: lightblue;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100%;
  height: 250px;
}

.boekeninfo {
  width: 100%;
  height: 100px;
  background-color: red;
}

@media only screen and (max-width: 400px) {
  .bestemming {
    width: 90%;
    height: 550px;
  }

  .img {
    width: 100%;
    height: 200px;
  }
}
