/* overall */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-family: "Macondo", cursive;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  background-color: #f1f1f17c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 5px #5dc6ec;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 100px;
  height: 100px;
}

.pg {
  text-decoration: none;
  transition: 55ms;
  height: 40px;
  width: 200px;
}

.pages {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
}

h3 {
  color: #ff6600;
}

.pg:hover {
  font-size: 27px;
  transition: 55ms;
}

.favs {
  width: 50px;
  height: 50px;
  transition: 55ms;
}

.favs:hover {
  width: 55px;
  height: 55px;
  transition: 55ms;
}

/* footer */
.Copyright {
  width: auto;
  height: 20px;
  background-color: #23a99cc5;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* achtergrond */
.backgroundborder {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundborder video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* informatie blokken er overheen*/
.overlappen {
  z-index: 1;
  width: 30%;
  height: 30%;
}

.achtergrond-searchbar {
  background-color: #23a99cc5;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.something {
  z-index: 3;
  height: 100px;
  width: 100px;
}

.img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 275px;
  background-color: #23a99cdb;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search_bar {
  background-color: #ff6600dd;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 1%;
}

@media only screen and (max-width: 400px) {
  .header {
    height: 210px;
  }

  .logo {
    position: absolute;
  }

  .favs {
    position: absolute;
    margin-left: 200px;
  }

  .pages {
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
  }
}